<div class="mat-app-background">

    <mat-toolbar color="primary" *ngIf="showMasterPage">
        <img src="assets/logo.png" alt="Home">
        <span class="fill-remaining-space"></span>
        <span *ngIf="currentUserName">
            {{currentUserName}}
        </span>

        <button mat-icon-button [matMenuTriggerFor]="appMenuTema" *ngIf="currentUserName">
            <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #appMenuTema="matMenu">
            <button mat-menu-item (click)="changeTheme('black-theme')">Black</button>
            <button mat-menu-item (click)="changeTheme('default-theme')">Padrão</button>
            <button mat-menu-item (click)="changeTheme('light-theme')">Light</button>
            <button mat-menu-item (click)="changeTheme('nature-theme')">Nature</button>
        </mat-menu>
        <button mat-button (click)="sair()">
            Sair
        </button>
    </mat-toolbar>
    <ng-content></ng-content>
</div>